{% assign image = collection.image | default: collection.products[0].featured_image %}
<div class="collection-item style-02">
    <div class="inner">
        <div class="thumb">
            {%- if image != blank -%}
                {% render 'responsive-image', image: image, url: collection.url, aspect_ratio: aspect_ratio %}
            {%- else -%}
                <div class="image-card__img">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
                </div>
            {%- endif -%}
        </div>
        <div class="info">
            <h2 class="title"><a href="{{ collection.url | default: '/admin/collections' }}">{{ collection.title | default: 'Collection Title' }}</a></h2>
            {% if count and collection.all_products_count != 1 %}
                {% assign count = 'collections.general.items_with_count.one' | t: count: collection.all_products_count | default: 18 %}
            {% else %}
                {% assign count = 'collections.general.items_with_count.other' | t: count: collection.all_products_count | default: 18 %}
            {% endif %}
            <span class="count">({{ count }})</span>
        </div>
    </div>
</div>