<div class="header-compare apply-header-css">
    <a class="push_side" href="javascript:void(0)" data-js-popup-button="compare-full">
        <span class="icon main-icon-refresh-ccw">
            <span class="header-count" data-js-compare-count="0">0</span>
        </span>
        <span class="text">
            {{ 'general.compare.title' | t }}
            <span class="count" data-js-compare-count="0">0</span>
        </span>
    </a>
</div>