<div class="header-control">
    {% render 'header-search' %}
    {% unless section.settings.hide_customer %}{% render 'header-customer' %}{% endunless %}
    {% unless section.settings.hide_compare %}{% render 'header-compare' %}{% endunless %}
    {% unless section.settings.hide_wishlist %}{% render 'header-wishlist' %}{% endunless %}
    {% unless section.settings.hide_cart %}{% render 'header-cart' %}{% endunless %}
</div>