<article class="post-item style-02">
    <div class="post-inner">
        {% render 'post-get-image', article: article, aspect_ratio: aspect_ratio %}
        <div class="post-info">
            {% render 'post-get-title', article: article %}
            {% render 'post-get-date', article: article %}
        </div>
    </div>
</article>