<div class="product-item style-02 {{ classes }}">
    <div class="product-inner animate--slide-in" data-js-product style="--animation-order:{{ animation_order }}">
        <script class="data-json-product" type="application/json">{% render 'product-get-attributes', product: product, build_variant: 'json' %}</script>
        <div class="product-thumb js-product-images-navigation">
            {% render 'product-get-image', product: product, aspect_ratio: aspect_ratio %}
        </div>
        <div class="product-info skeleton-list">
            {% render 'product-get-title', product: product %}
            {% render 'product-get-price', product: product %}
        </div>
        {% if list_content %}
            {% render 'product-style-list', product: product %}
        {% endif %}
    </div>
</div>