{% liquid
    assign limit_day = settings.prd_new_day | plus: 0 | default: 7
    assign compare = product.compare_at_price
    assign price = product.price
%}
<div class="product-label skeleton-list">
    {% if compare > price -%}
        {%- assign sale_percent = price | times: 100 | divided_by: compare | minus: 100 | times: -1 -%}
        <div class="label label--sale" data-js-product-label-sale>{{ 'products.product.label.sale' | t: percent: sale_percent }}</div>
    {% endif %}
    {% if product.tags contains "label_hot" %}
        <div class="label label--hot" data-js-product-label-hot>{{ 'products.product.label.hot' | t }}</div>
    {% endif %}
    {% assign date_published = product.published_at | date: '%Y%m%d' %}
    {% assign date_now = 'now' | date: '%Y%m%d' %}
    {% assign date_difference = date_now | minus: date_published %}
    {% if date_difference < limit_day %}
        <div class="label label--new" data-js-product-label-new>{{ 'products.product.label.new' | t }}</div>
    {% endif %}
</div>
