<div class="product-info skeleton-list style-list tooltip-top">
    {% render 'product-get-collections', product: product %}
    {% render 'product-get-title', product: product %}
    <div class="product-review skeleton-item">{{ settings.product_review_badge }}</div>
    {% render 'product-get-price', product: product %}
    {% render 'product-get-excerpt', product: product %}
    {% render 'product-get-stock', product: product %}
    <div class="product-cart-btn">
        {% render 'product-get-button-cart', product: product %}
        <div class="product-btn">
            {% render 'product-get-button-wishlist', product: product %}
            {% render 'product-get-button-compare', product: product %}
            {% render 'product-get-button-quickview', product: product %}
        </div>
    </div>
</div>