<a href="javascript:void(0)" class="js-mobile-sidebar mobile-sidebar-btn mobile-sidebar-btn-fixed button">
    <span class="icon main-icon-sidebar"></span> <span class="text">{{ 'general.sidebar.button' | t }}</span>
</a>