<head>
  {{ content_for_header }}
</head>
{%- capture htmlContent -%}
  <main id="MainContent">
    {{ content_for_layout }}
  </main>
{%- endcapture -%}
{%- render 'minify-code', htmlContent: htmlContent -%}