.section-inner.customer-page-wrap {
    display: flex;
    justify-content: center;
  gap:100px;
}
.customer-page-nav .active {
  color: #111;
  font-weight: var(--heading-fw);
  background-color: #fff;
}
.customer-page-nav p,
.customer-page-nav a {
  border: 1px solid#ccc;
  padding: 10px;
}
.customer-page-nav a {
  color: #888;
}
.customer-page-nav a:hover {
  background: #111;
  color: #fff;
}
.customer-page-nav > * {
  display: block;
  padding: var(--table-pd) var(--table-pd-hz);
  margin: 0;
}
ul.addresses-info {
    list-style: none;
}
.addresses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.addresses-item {
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    --text-space: var(--space-15);
    --input-pd: 10px;
    --input-pd-hz: 15px;
    --btn-pd: 10px;
    --btn-pd-hz: 15px;
    --btn-cl: #222222;
    --btn-bg: #f1f1f1;
    --btn-bd: #e5e5e5;
    --btn-bd-width: 1px;
    --btn-cl-hover: #fff;
    --btn-bg-hover: #222222;
    --btn-bd-hover: transparent;
  padding: 20px;
}
.addresses-title span{
  background:#aaa;
}
h4.addresses-title {
    background: #f1f1f1;
}
.group-button {
    display: flex;
    justify-content: space-between;
}