.customer-page-nav .active {
    color: #111;
    font-weight: var(--heading-fw);
    background-color: #fff;
}
.customer-page-nav p,.customer-page-nav a{
      border: 1px solid#ccc;
  padding:10px;
}
.customer-page-nav a{
  color:#888;
}
.customer-page-nav>* {
    display: block;
    padding: var(--table-pd) var(--table-pd-hz);
    margin: 0;
}
#admin_header,#customer_sidebar,#customer_orders{
  display:none;
}
.section-inner.customer-page-wrap{
  display:flex;
  gap:100px;
}