.customer-page-nav .active {
  color: #111;
  font-weight: var(--heading-fw);
  background-color: #fff;
}
.customer-page-nav p,
.customer-page-nav a {
  border: 1px solid#ccc;
  padding: 10px;
}
.customer-page-nav a {
  color: #888;
}
.customer-page-nav a:hover {
  background: #111;
  color: #fff;
}
.customer-page-nav > * {
  display: block;
  padding: var(--table-pd) var(--table-pd-hz);
  margin: 0;
}
#admin_header,
#customer_sidebar,
#customer_orders {
  display: none;
}
.section-inner.customer-page-wrap {
  display: flex;
  gap: 100px;
}
.order-history {
  margin-top: 30px;
  margin-bottom: 30px;
}
.success {
  background: #dcf0d8;
  color: rgb(30, 136, 47);
  box-shadow: rgb(180, 222, 176) 0px 0px 0px 1px;
  padding: 8px 15px;
}
.order-history h3{
  margin-bottom:20px;
}
th, td {
    border: 1px solid #e5e5e5;
    padding: 10px;
    text-align: inherit;
}
table.table {
        margin-bottom: 30px;
    margin-top: 20px;
}
.btn-view-addresses a.button{
      background: #e74b43;
    color: #fff;
    padding: 8px;
}