.section-inner.customer-page-wrap {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}
.customer-page-nav .active {
  color: #111;
  font-weight: var(--heading-fw);
  background-color: #fff;
}
.customer-page-nav p,
.customer-page-nav a {
  border: 1px solid#ccc;
  padding: 10px;
}
.customer-page-nav a {
  color: #888;
}
.customer-page-nav a:hover {
  background: #111;
  color: #fff;
}
.customer-page-nav > * {
  display: block;
  padding: var(--table-pd) var(--table-pd-hz);
  margin: 0;
}
ul.addresses-info {
  list-style: none;
}
.addresses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.addresses-item {
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  --text-space: var(--space-15);
  --input-pd: 10px;
  --input-pd-hz: 15px;
  --btn-pd: 10px;
  --btn-pd-hz: 15px;
  --btn-cl: #222222;
  --btn-bg: #f1f1f1;
  --btn-bd: #e5e5e5;
  --btn-bd-width: 1px;
  --btn-cl-hover: #fff;
  --btn-bg-hover: #222222;
  --btn-bd-hover: transparent;
  padding: 20px;
}
.addresses-title span {
  background: #aaa;
}
h4.addresses-title {
  background: #f1f1f1;
  padding: 12px;
}
.group-button {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
button.address-delete {
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
}
button#EditFormButton_8697699893405 {
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
}
button#address-edit-toggle:hover , button.address-delete:hover{
  background:#111;
  color:#fff;
}

button#address-edit-toggle,input#AddressFirstNameNew,input#AddressLastNameNew,input#AddressCompanyNew,input#AddressAddress1New,input#AddressAddress2New,input#AddressCityNew,select#AddressCountryNew,select#AddressProvinceNew,input#AddressZipNew,input#AddressPhoneNew {
    width: 100%;
}
input#AddressFirstName_8789289664669,input#AddressLastName_8789289664669,input#AddressCompany_8789289664669,input#AddressPhone_8789289664669 {
    width: 100%;
}
input#AddressAddress1_8789289664669,input#AddressAddress2_8789289664669,input#AddressCity_8789289664669,select#AddressCountry_8789289664669,select#AddressProvince_8789289664669,input#AddressZip_8789289664669{
  width:100%;
}