.facet-filters__sort {
  color: #724D37;
  border: 1px solid #DCDCDC;
  border-radius: 25px;
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
}
.facet-filters__sort {
  color: #724D37;
  font-size: 16px;
}