.container.footer_section_top {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-item-text ul {
  padding: 0;
  margin-top: 0;
  line-height:32px;
}
.footer-item-text ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.footer-item-text.working.joytoy-dropdown__content {
  display: flex;
  gap: 20px;
}
.footer_section-newsletter.bottom {
  display: flex;
  gap: 70px;
  margin-top: 25px;
}
.footer-item-text.contact.joytoy-dropdown__content {
  display: flex;
  gap: 20px;
}
.footer-item-text-smal {
  color: #724d37;
  font-size: 16px;
  font-weight: 700;
}
.input-text.email-newsletter {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}
.footer-item-title h2 {
  font-size: 22px;
  color: #ff961a;
}
.newsletter-form__field-wrapper button {
  width: 160px;
  margin-top:20px;
  height: 48px;
  border-radius: 30px;
  background: #ff961a;
  color: #fff;
  border: none;
   transition: background-color 0.5s ease;
}
.newsletter-form__field-wrapper button:hover{
  cursor:cursor: pointer;
  background:#7C81FF;
}
.input-text.email-newsletter:active,
.input-text.email-newsletter:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.footer_section_bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.footer-right-img {
  display: flex;
  gap: 20px;
  align-items: center; /* Căn giữa theo chiều dọc */
}
.img-payment {
  display: flex;
  align-items: center;
  gap: 10px;
 
}
.section_top {
  background: #fff8f0;
}
.section_bottom {
  background: #f6f7ff;
  height: 92px;
}
.footer-item-text-smal {
  transition: transform 0.4s ease-in-out;
}
.footer-item-text-smal:hover {
  transform: translateY(8px);
}
@media screen and (max-width: 425px) {
  .input-text.email-newsletter {
    width: 100%;
  }
  .img-payment img {
    width: 100%;
  }
  .footer-right-img {
    gap: 12px;
  }
.img-payment{
  display:none;
}
  .footer-item-title h2 {
    font-size: 16px;
  }
  .container.footer_section_top {
    padding: 20px;
    flex-wrap: wrap;
  }
  .newsletter-form__field-wrapper {
    width: 100%;
  }
  .newsletter-form__field-wrapper button {
    margin-top: 20px;
  }
  .container {
    width: 100%; /* Đảm bảo container rộng 100% màn hình */
    padding: 0 10px; /* Giảm padding cho màn hình nhỏ */
  }
  .section_bottom {
    height: auto;
  }
  .footer_section_bottom{
    display:grid;
    gap:20px;
  }
  .footer_section-newsletter.bottom {
    gap: 50px;
  }
}
