.section-inner {
  display: flex;
  justify-content: center;
  gap: 100px;
}
#loginForm.title {
  font-size: 48px;
  font-family: Nunito;
  font-weight: 900;
}
input#CustomerEmail,input#CustomerPassword {
  width: 100%;
  border-radius: 15px;
  height: 30px;
}
span.required {
    color: #ff0000;
}
div#recoverPassword {
    display: none;
}
.errors ul{
  list-style:none;
  color:#ff0000;
}