/* from_contact */

.fields_email {
    display: flex;
    gap: 20px;
}

.input-text-email.email-name {
    border-radius: 24px;
    border: 1px solid #DCDCDC;
    padding: 25px;
    height: 48px;
  outline: none;
  color: #767676;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

#detail-comment {
   height: 155px;
  border-radius: 12px;
  color: #767676;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.content-contact_form {
    display: flex;
    position: absolute;
    justify-content: space-between;
}

.img_border-form img {
    position: relative;
  height:100%;
}
.form_contact {
   position: relative;
  width: 100%;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  margin-top: 50px;
}

.img_border-form {
    position: relative;
    text-align: center;
}

.content_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.img-left {
    z-index: 1;
}


.form_email {
    width: 100%;
    margin-top: 30px;
}

.contact_form {
    width: 650px;
    z-index: 2;
    /* Đặt form nổi lên trên hình bên trái */
    border-radius: 10px;
  text-align:center;

}

.contact_form h2 {
    text-align: center;
    font-family: Nunito;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #423127;
}

.fields_email {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.form_email input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-message textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 100px;
}

/* Căn hình ảnh bên phải */
.img-right {
    z-index: 1;
}

.img-right img {
 top: 57%;
    position: absolute;
    left: 107%;
}

.img-left img {
    left: -96%;
    top: -14%;
    position: absolute;
}

.form-message {
    margin-top: 20px;
}
.btn_submit:hover {
  background: #7C81FF;
  cursor:pointer;
}
.btn_submit {
    background-color: #FF961A;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    width: 240px;
    height: 48px;
    border-radius: 24px;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
    transition: background-color 0.5s ease;
}
.input-text-email.email-name {
    border: 1px solid #ccc; /* Đặt border ban đầu */

}

.input-text-email.email-name:focus, 
.input-text-email.email-name:active {
   box-shadow: none;
}
#detail-comment:active,#detail-comment:focus {
  box-shadow: none;
  outline: none;
}