.section-inner {
  display: flex;
  justify-content: center;
  gap: 100px;
}
#loginForm.title {
  font-size: 48px;
  font-family: Nunito;
  font-weight: 900;

#CustomerEmail,#CustomerPassword{
 width: 100%;
  border-radius: 12px;
  height: 30px;
}