.section-inner {
  display: flex;
  justify-content: center;
  gap: 100px;
}
loginForm h2{
  text-align:center;
  font-size:48px;
  font-weight:900;
}
input#CustomerEmail,input#CustomerPassword {
  width: 100%;
  border-radius: 15px;
  height: 30px;
}
span.required {
    color: #ff0000;
}
div#recoverPassword {
    display: none;
}
.errors ul{
  list-style:none;
  color:#ff0000;
}
a.go-register.link {
    text-decoration: none;
}
a.go-register.link:hover {
    text-decoration: underline;
}
input.button:hover{
color: #111;
  background-color: transparent;
  transition: .40s;
  border: 1px solid #111;
}
input.button {
    text-transform: uppercase;
}