*, :after, :before{
    box-sizing: inherit;
}
body *{
    -webkit-tap-highlight-color: transparent;
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
    font-size: 14px;
    overflow-x: hidden;
    line-height: 1.7;
    color: var(--dark-cl-2);
    background-color: var(--body-bg);
    margin: 0;
}
p{
    margin: 0;
}
.padding-0{
    padding: 0;
}
.password-header{
    display: block;
    border-bottom: 1px solid #E6EAF0;
    margin-bottom: 60px;
}
.password-header .row{
    align-items: center;
    justify-content: space-between;
    min-height: 85px;
    margin: 0;
}
.password-link{
    padding: 0 15px;
    border-radius: 3px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.password-link i{
    font-size: 16px;
}
.password-modal__content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
details[open] .modal__toggle, .modal__close-button{
    position: absolute;
    top: 0;
    right: 0;
}
.password-modal__content-heading{
    color: var(--dark-cl);
    margin: 0;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 600;
    flex-wrap: wrap;
}
.password-form{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 100%;
    gap: 10px;
}
.password-modal .password-form{
    max-width: 450px;
}
.password-field.field{
    flex: 1;
}
button.password-button,
button.button.button_primary{
    min-width: 150px;
    line-height: 50px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
    font-size: 13px;
    padding: 0 30px;
    margin: 0;
}
h2.password-content__title{
    margin: 30px 0 20px;
    font-size: 24px;
}
p{
    outline: 0;
}
p.form-message.form-message--success{
    color: #008060;
}
input[type=date], input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], select, textarea{
    width: 100%;
    height: 40px;
    line-height: 18px;
    transition: border-color 0.5s;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:not([type=submit]):not([type=checkbox]), select, textarea{
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    outline: 0;
    color: var(--dark-cl);
    border: 1px solid #F3F3F9;
    background: #FFFFFF;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 15px;
    width: -webkit-fill-available;
}
.button_primary{
    margin-top: 20px;
    ext-transform: uppercase;
    background-color: #56cfe1;
    color: #fff;
    border-color: #56cfe1;
    border-radius: 0;
}
a.button, button, input[type=submit]{
    cursor: pointer;
    border: 2px solid #222;
    padding: 5px 25px;
    background: #fff;
    color: #222;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    min-height: 40px;
}
.social-sharing a i{
    font-size: 20px;
}
.social-sharing a span{
    display: none;
}
.wrapper_social{
    margin-top: 20px;
}
p.password-content{
    color: #4d5574;
    padding-top: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.mini_cart_wrap{
    display: flex;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.mask-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    background-color: rgba(var(--dark-cl-r), var(--dark-cl-g), var(--dark-cl-b), .7);
    transition: opacity 0.25s, visibility 0.25s;
}
.mask_opened{
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s, visibility;
}
body.pside_opened, html.hside_opened{
    overflow: hidden !important;
}
.password-content .password-content__title{
    color: var(--dark-cl);
    margin: 0 0 30px;
    position: relative;
    letter-spacing: -.03em;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}
.password-content .sub_heading{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.password-content p.content{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
}
.template-password .socials label{
    display: none;
}
.template-password .socials ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    gap: 15px;
}
.template-password .socials ul li{
    padding: 0;
}
.template-password .alz-share ul li a{
    background-color: var(--dark-cl);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.template-password .alz-social ul li a{
    font-size: 16px;
    text-decoration: none;
    color: var(--dark-cl);
    line-height: 1;
    width: 40px;
    height: 40px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 3px;
}
.template-password .alz-social ul li.twitter a{
    color: #1DA1F2;
}
.template-password .alz-social ul li.facebook a{
    color: #1877F2;
}
.template-password .alz-social ul li.pinterest a{
    color: #BD081C;
}
.template-password .alz-social ul li.instagram a{
    color: #1DA1F2;
}
.template-password .alz-social ul li.youtube a{
    color: #CD201F;
}
.template-password .alz-social ul li.vimeo a{
    color: #00AFF0;
}
.pr_lazy_img{
    background-size: cover;
    background-position: center center;
    webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.3s,
    -webkit-transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.3s, transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.zoom_img a:hover .pr_lazy_img,
.zoom_img .pr_lazy_img:hover{
    transform: scale(1.1);
}
.lds_bginfinity:before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    z-index: 90;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px auto;
}
.sc-password .container .row{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.copyright{
    padding-top: 20px;
}
.copyright p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--dark-cl);
}
.copyright p a{
    color: var(--color-hover);
}
#PasswordLoginForm-password-error{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.tooltip-wrap{
    position: relative;
}
.tooltip-text{
    pointer-events: none;
    background: rgba(var(--dark-cl-r), var(--dark-cl-g), var(--dark-cl-b), .8);
    border: medium none;
    border-radius: 20px;
    bottom: 100%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    left: 50%;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 4px 10px;
    position: absolute;
    text-transform: capitalize;
    transform: translate(-50%, 0);
    visibility: hidden;
    white-space: nowrap;
    transition: .4s;
}
.tooltip-text:before{
    border-color: rgba(var(--dark-cl-r), var(--dark-cl-g), var(--dark-cl-b), .8) transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: 0;
    content: "";
    height: 0;
    left: 50%;
    margin-bottom: -5px;
    margin-left: -5px;
    position: absolute;
    width: 0;
}
.tooltip-wrap:hover .tooltip-text{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
